<br />
<br />
<br />
<br />

<nz-select>
  <nz-option
    *ngFor="let p of countryCode"
    [nzValue]="p.countryName"
    [nzLabel]="p.countryName"
  ></nz-option>
</nz-select>

<div class="form">
  <form [formGroup]="info" (submit)="onSubmit()">
    <input nz-input formControlName="name" />
    <input
      nz-input
      placeholder="Email"
      formControlName="email"
      maxlength="100"
      color
      focus
    />
    <small *ngIf="info.controls['email'].errors?.['pattern']"
      >enter valid email</small
    >
    <input nz-input placeholder="Name *" formControlName="username" />
    <small *ngIf="info.controls['username'].errors?.['minlength']" class="block"
      >Enter name with min 3 char.</small
    >
    <small
      *ngIf="info.controls['username'].errors?.['required'] && info.controls['username'].touched"
      class="block"
      >Please enter your name.</small
    >

    <nz-select formControlName="countryCode">
      <nz-option
        nzCustomContent
        [nzLabel]="p.countryName"
        [nzValue]="p.countryName"
        *ngFor="let p of countryCode"
      >
        <img [alt]="p.countryName" draggable="false" />
        {{ p.countryName }}</nz-option
      >
    </nz-select>
    <input nz-input placeholder="phone" formControlName="phone" />
    <small
      *ngIf="info.controls['phone'].errors?.['min'] && info.controls['phone'].touched"
      class="block"
      >min 18</small
    >
    <input
      appTrim
      color
      nz-input
      placeholder="website"
      formControlName="website"
    />
    <div
      formArrayName="mobile"
      *ngFor="let list of mobile.controls; index as i"
    >
      <div [formGroupName]="i">
        <input placeholder="Mobile" nz-input formControlName="mobileNumber" />
        <input formControlName="email" nz-input placeholder="email" />
        <button *ngIf="i > 0" type="button" nz-button (click)="removeNumber(i)">
          - Remove
        </button>
      </div>
    </div>
    <button
      nz-button
      nzType="primary"
      type="button"
      (click)="addMobile()"
      *ngIf="info.value.mobile.length < 6"
    >
      Add Mobile Numbers
    </button>
    <button type="button" nz-button (click)="info.reset()">Reset</button>
    <button nz-button nzType="primary" nzDanger [disabled]="!info.valid">
      Submit
    </button>
  </form>
  <input nz-input placeholder="directive" />

  {{ 'Hi, How are you ?' | case: "up":date }}
</div>
