<link href='https://fonts.googleapis.com/css?family=Comfortaa:700,300,400' rel='stylesheet' type='text/css'>
<div class="main_container">
            <div class="taxi_container">
                <div class="taxi_lab">
                    TAXI
                </div>
            </div>
        	<div class="glass_container">
        		<div class="glass">
              <div class="left_glass_edge">
                    </div>
                    <div class="right_glass_edge">
                    </div>
         </div>
        		<div class="sub_glass">
                    <div class="error">404</div>
                </div>
        	</div>
        	<div class="front_container">
        		<div class="left_glass"></div>
        		<div class="left_stick"></div>
        		<div class="right_glass"></div>
        		<div class="right_stick"></div>
        		<div class="left_light">
                    <div class="flash_light">
                    </div>
                </div>
        		<div class="right_light">
                    <div class="flash_light">
                    </div>
                </div>
        		<div class="left_small_light"></div>
        		<div class="right_small_light"></div>
                <div class="left_indicator"></div>
                <div class="right_indicator"></div>
        		<div class="left_engine">
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="left_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        		</div>
        		<div class="right_engine">
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        			<div class="right_rw1">
        				<p></p><p></p><p></p><p></p><p></p><p></p>
        			</div>
        		</div>
        	</div>
            <div class="number_plate"><div class="number_lab">TN</div></div>
        	<div class="lower_banner">
        	</div>
        	<div class="tyre_container">
        		<div class="left_tyre"></div>
        		<div class="right_tyre"></div>
        	</div>
        </div>
