*
{
	box-sizing: border-box;
}
body
{
	margin: 50px;
	display: block;
}
.main_container
{
	margin: auto;
	width: 330px;
	.glass_container
	{
		float: left;
		width:100%;
		position: relative;
    .left_glass_edge
		{
			width: 18px;
			height: 18px;
			border-radius: 5px;
			background: #373635;
			position: absolute;
			left: 12px;
			top: -1px;
		}
		.right_glass_edge
		{
			width: 18px;
			height: 18px;
			border-radius: 5px;
			background: #373635;
			position: absolute;
			right: 12px;
			top: -1px;
		}
		.glass
		{
			border-bottom: 132px solid #373635;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			height: 0;
			width: 320px;
			margin-left: 5px;
		}
		.sub_glass
		{
			width: 272px;
			height: 108px;
			background: #898F99;
			border-radius: 10px;
			position: absolute;
			left: 30px;
			right: 0;
			top: 15px;
			bottom: 0;
			.error
			{
				color: #FFF;
				font-size: 72px;
				text-align: center;
				padding: 15px;
				letter-spacing: 15px;
       font-family: 'Comfortaa', cursive;
        font-weight: 700;
			}
		}
	}

	.front_container
	{
		float: left;
		width: 330px;
		background: #373635;
		height: 160px;
		position: relative;
		.left_glass
		{
			width: 56px;
			height: 30px;
			background: #373635;
			position: absolute;
			left: -68px;
			top: -46px;
		}
		.left_stick
		{
			width: 8px;
			height: 39px;
			background: #373635;
			position: absolute;
			left: -7px;
			top: -25px;
			transform: rotate(140deg);
		}
		.right_stick
		{
			width: 8px;
			height: 39px;
			background: #373635;
			position: absolute;
			right: -7px;
			top: -25px;
			transform: rotate(223deg);
		}
		.right_glass
		{
			width: 56px;
			height: 30px;
			background: #373635;
			position: absolute;
			right: -68px;
			top: -46px;
		}
		.left_light
		{
			width: 80px;
			height: 80px;
			border-radius: 40px;
			background: #E6EDEF;
			border: 15px solid #373635;
			position: absolute;
			left: -53px;
			top: 0;
		}
		.left_indicator
		{
			width: 13px;
			height: 13px;
			border-radius: 10px;
			background: #E97B40;
			position:absolute;
			top: 85px;
			left: -12px;

		}
		.right_indicator
		{
			width: 13px;
			height: 13px;
			border-radius: 10px;
			background: #E97B40;
			position:absolute;
			top: 85px;
			right: -12px;
		}
		.right_light
		{
			width: 80px;
			height: 80px;
			border-radius: 40px;
			background: #E6EDEF;
			border: 15px solid #373635;
			position: absolute;
			right: -53px;
			top: 0;
		}
		.left_small_light
		{
			width: 60px;
			height: 48px;
			border-radius: 40px;
			background: #373635;
			position: absolute;
			left: -24px;
			top: 70px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 57px;
		}
		.right_small_light
		{
			width: 60px;
			height: 48px;
			border-radius: 40px;
			background: #373635;
			position: absolute;
			right: -24px;
			top: 70px;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 57px;
		}
	}
	.lower_banner
	{
		width: 380px;
		height: 45px;
		border-radius: 45px;
		background: #373635;
		float: left;
		margin-left: -25px;
		margin-top: -39px;

	}
	.tyre_container
	{
		float: left;
		width: 100%;
		position: relative;
	}
	.left_tyre
	{
		width: 70px;
		height: 65px;
		background: #373635;
		position:absolute;
		left: 0;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;

	}
	.right_tyre
	{
		width: 70px;
		height: 65px;
		background: #373635;
		position: absolute;
		right: 0;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.left_engine
	{
		float: left;
		width: 100%;
		position: absolute;
		left: 100px;
		top: 40px;
		.left_rw1
		{
			float: left;
			display: inline-block;
			width: 100%;
			p
			{
			width: 6px;
			height: 6px;
			margin: 1.5px;
			background: #ABC1C6;
			display: inline-block;
			}
		}

	}
	.right_engine
	{
		float: left;
		width: 100%;
		position: absolute;
		right: -175px;
		top: 40px;
		.right_rw1
		{
			float: left;
			display: inline-block;
			width: 100%;
			p
			{
			width: 6px;
			height: 6px;
			margin: 1.5px;
			background: #ABC1C6;
			display: inline-block;
			}
		}

	}
	.taxi_container
	{
		width: 81px;
		height: 35px;
		margin: auto;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		color: #FFF;
		background: #373635;
	}
	.taxi_lab
	{
		background: #E97B40;
		margin: 10px;
		border-radius: 7px;
		padding: 4px;
		position: relative;
		top: 7px;
    font-family: 'Comfortaa', cursive;
        font-weight: 300;
		letter-spacing: 2px;
	}
	.number_plate
	{
		height: 32px;
		width: 110px;
		border-radius: 20px;
		background: #E6EDEF;
		margin: auto;
		position: relative;
		top: 287px;
		left: 0;
		right: 0;
		text-align: center;
		.number_lab
		{
			font-size: 16px;
			color: #000;
			padding-top: 5px;
			position:absolute;
			left: 0;
			right: 0;
      font-family: 'Comfortaa', cursive;
        font-weight: 400;
			letter-spacing: 4px;
		}
	}
	@-webkit-keyframes blink
	{
 		0% {
    		opacity: 0.1;
  			}
  		100%
  			{
    		opacity: 1;
  			}
	}
	.flash_light
	{
		width: 50px;
		height: 50px;
		border-radius: 45px;
		background: #F9E381;
		-webkit-animation: blink .7s alternate infinite;
	}
}
